{{ define "main" }}
{{ if or (eq .Type "post") (eq .Type "page") }}
    <article class="post default">
        <figure class="feature-image">
            <img src="{{ .Params.photoUrl }}" alt="{{ .Params.photoTitle }}">
            <figcaption class="feature-caption">Image credit: <a href="{{ .Params.photoCreditUrl }}" alt="{{ .Params.photoCreditAlt }}">{{ .Params.photoCredit }}</a></figcaption>
        </figure>
{{ end }}
        {{ .Content }}
        {{ partial "colophon" . }}    
    </article>
    {{ partial "previous-next.html" . }}
{{ end }}

