<div class="colophon">
    {{ if eq .Type "post" }}
        <p>What are your thoughts? Join me in the conversation over on <a href="https://threads.net/@drewtodd">Threads <i class="fa-brands fa-threads" aria-hidden="true"></i></a>, <a href="https://bsky.app/profile/drewtodd.bsky.social">Bluesky Social <i class="fa-solid fa-square" aria-hidden="true"></i></a>, or <a href="https://mastodon.social/@drewtodd">Mastodon <i class="fa-brands fa-mastodon" aria-hidden="true"></i></a>.</p>
        
        <p>Originally published {{ .Date.Format "January 2, 2006" }}<br />           
    {{ end }}
    {{ with .Params.tags }}
        File under: 
            {{ range . }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><i class="fa fa-hashtag" aria-hidden="true"></i>{{ . }}</a>&nbsp;
            {{ end }}
    {{ end }}
    {{ if eq .Type "post" }}
        </p>
    {{ end }}
</div>
