<div class="colophon">
    {{ if eq .Type "post" }}
        <p>What are your thoughts? Join me in the conversation over on <a href="https://twitter.com/drwtod">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a>.</p>
        
        <p>Originally published {{ .Date.Format "January 2, 2006" }}<br />           
    {{ end }}
    {{ with .Params.tags }}
        File under: 
            {{ range . }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><i class="fa fa-hashtag" aria-hidden="true"></i>{{ . }}</a>&nbsp;
            {{ end }}
    {{ end }}
    {{ if eq .Type "post" }}
        </p>
    {{ end }}
</div>
