<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }} | drew:ux</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta description="drew:ux The blog with user experience, design, and leadership musings by Andrew Todd" />
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {{ partial "analytics.html" . }}
  {{ partial "mailchimp.html" . }}
</head>
<body>
  <div id="header">
    <header class="site-header">
        {{ partial "menu.html" . }}
        <h1><a href="/">drew:ux</a></h1>
    </header>
    </div>