{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "post" }}
    {{ with index $pages 0 }}
    <article class="post default">
        {{ $photoURL := .Params.photoUrl }}
        {{ $path := print "static" $photoURL }}
        {{ if not (fileExists $path) }}
            {{ $photoURL = print .File.Dir $photoURL }}
        {{ end }}

        <figure class="feature-image">
            <img src="{{ $photoURL }}" alt="{{ .Params.photoTitle }}">
            <figcaption>Image credit: <a href="{{ .Params.photoCreditUrl }}" alt="{{ .Params.photoCreditAlt }}">{{ .Params.photoCredit }}</a></figcaption>
        </figure>
       {{ .Content }}
    </article>
    {{ partial "more-posts.html" . }}
    {{ end }}
{{ end }}
